<body bgcolor="lightblue">
<p style="text-align: center; font-size: 80%;">
    Contact <%= mail_to "manager@bioinf.itmat.upenn.edu", "ZFish Site Manager", 
                        :subject =>"ZFish problem report", 
                        :encode => "javascript" %>  
                 <br/>Powered by Ruby on Rails 
                 <br/><%= link_to(image_tag("rails.png"), "http://rubyonrails.org", :target => "_new") %>
</p>
</body>

