<h2>Data Downloads</h2>

Data downloads for the zebrafish experiments are available from either site.
   <dd>
      <li><a href="http://www.ebi.ac.uk/pride/searchSummary.do?queryTypeSelected=ExperimentCV&experimentCvAccession=PRIDE%3A0000097&experimentCvValue=PROTEOMIC+ANALYSIS+OF+ZEBRAFISH+AT+TWO+STAGES+OF+DEVELOPMENT+-+72+AND+120+HOURS+POST+FERTILIZATION&atKey[0]=&atValue[0]=">PRIDE</a> 
      <li><a href="<%=@local_download_index_file%>">ITMAT Local Disk</a>
   </dd>


