<div id="pub">

   The model organism zebrafish (Danio rerio) is particularly amenable to studies deciphering regulatory 
   genetic networks in vertebrate development, biology, and pharmacology. Unraveling the functional dynamics 
   of such networks requires precise quantitation of protein expression during organismal growth, 
   which is incrementally challenging with progressive complexity of the systems. In an approach 
   toward such quantitative studies of dynamic network behavior, we applied mass spectrometric methodology 
   and rigorous statistical analysis to create comprehensive, high quality profiles of proteins expressed 
   at two stages of zebrafish development. Proteins of embryos 72 and 120 hour postfertilization (hpf) were 
   isolated and analyzed both by two-dimensional (2D) LC followed by ESI-MS/MS and by 2D PAGE followed by 
   MALDI-TOF/TOF protein identification. We detected 1384 proteins from 327,906 peptide sequence 
   identifications at 72 and 120 hpf with false identification rates of less than 1% using 
   2D LC-ESI-MS/MS. These included only ~30% of proteins that were identified by 2D PAGE-MALDI-TOF/TOF. 
   Roughly 10% of all detected proteins were derived from hypothetical or predicted gene models or were 
   entirely unannotated. Comparison of proteins expression by 2D DIGE revealed that proteins involved in 
   energy production and transcription/translation were relatively more abundant at 72 hpf consistent with 
   faster synthesis of cellular proteins during organismal growth at this time compared with 120 hpf. The 
   data are accessible in a database that links protein identifications to existing resources including the 
   Zebrafish Information Network database. This new resource should facilitate the selection of candidate 
   proteins for targeted quantitation and refine systematic genetic network analysis in vertebrate development and biology.
  <br><br>
  
   Recently published <a href="http://www.mcponline.org/cgi/content/short/7/5/981" target = "_new"> 
      Molecular and Cellular Protoemics 7:981-994, 2008
   </a> 
</div>
