<body bgcolor="Silver">
<a href ="<%= url_for :controller => 'bioentries', :action => 'goto_content', :id =>'intro'%>"  target="contentframe"  style="text-decoration:none">
   <table>
     <tr>
        <td > <%= image_tag( "logo.png", :border => 0)%>  </td>
        <td valign="bottom"> <h1><font color='red'> Zebrafish Proteomics</font></h1> </td>
     </tr>
   </table>
</a>
</body>