<% hlib = HtmlLib.new %>

<h3>Introduction</h3>

Proteins of embryos 72 and 120 hour post fertilization were isolated and analyzed 
 both by two-dimensional (2D) LC followed by ESI-MS/MS and by 2D PAGE followed 
 by MALDI-TOF/TOF protein identification. We detected <b>1384</b> proteins from 327,906
 peptide sequence identifications at 72 and 120 hpf with false identification rates
 of less than 1% using 2D LC-ESI-MS/MS.
  
